<div class="logo">
  <img src="../../../../assets/logo.png" alt="logo" id="logo">
  </div>

<h1>Algaire</h1>
<h2>Coral y Maera</h2>

<div class="algaire">
  <img src="../../../../../assets/algaire-2.jpg" alt="Algaire" id="algaire">
</div>

<div class="icons">
<span class="iconify" data-icon="logos:facebook"></span>
<span class="iconify" data-icon="skill-icons:instagram"></span>
<span class="iconify" data-icon="logos:youtube-icon"></span>
<span class="iconify" data-icon="skill-icons:twitter"></span>
</div>



 <fieldset>
<div class="music">
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7ILPtcJgrcMDsfCjRXdRQ8?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7Jnns9meRe69bLPCB3z5w5?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/41tm4elpFAXIlZwRquVLz4?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6xdwRtJl0Uyp0jYi08GP8B?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1QzpDL9D5WlLKqwW8ImwkW?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5Ni4glG5a22Nj0JUDVboqS?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6aB1qPekxJVJT28QXxpkJY?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2gW2FfEnOxBleCI5QgM78k?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1EXYUWeWt0r04CmRlP0D7X?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2sQVoAXyj4oobBgUb4L1oK?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
</fieldset>
