.container-fluid{
  background-color: black;
}

button{
  color: #DAFF48;
}

.logo{
 img{
    width:100px;
    height:84px;
 }
}

#algaire {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 1%;
  border-radius: 2%;
  border: 2px solid#daff48;
  margin-top: 5rem;
}


h1,h2,h5{
  text-align: center;
  color: #DAFF48;
  margin: 10px;

}

a{
  color: #DAFF48;
}


iframe {
  display: block;
  margin: 0 auto;
  border: 1px solid #DAFF48;
  margin-bottom: 3%;
}

.icons {
  display: flex;
  justify-content:center;
  margin: 10px;


.iconify {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  margin: 15px;
  }
}


fieldset{
  color: #DAFF48;

}


