<img src="../../../../assets/logo.png" alt="logo">

<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <span class="iconify" data-icon="clarity:user-solid"></span>
    <label class="form-label" for="form2Example1">Email address</label>

  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <i class="fas fa-eye-slash"></i>
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
        <label class="form-check-label" for="form2Example34"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="../../../modules/groups/components/register-group/register-group.component.html">Register</a></p><br>
    <p>Or sign up with:</p>

   <div class="icons">
<span class="iconify" data-icon="logos:facebook"></span>
<span class="iconify" data-icon="skill-icons:instagram"></span>
<span class="iconify" data-icon="skill-icons:twitter"></span>
</div>
  </div>
</form>
