<h1>Novedades</h1>

 <fieldset>
<div class="new-music">
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7ILPtcJgrcMDsfCjRXdRQ8?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<div class="icons">
  <div id="redes">
    <span class="iconify" data-icon="logos:facebook"></span>
    <span class="iconify" data-icon="skill-icons:instagram"></span>
    <span class="iconify" data-icon="logos:youtube-icon"></span>
    <span class="iconify" data-icon="skill-icons:twitter"></span>
  </div>
  <div id="like">
    <span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
  </div>
</div>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1OvgFEAdvQp7va0C68UaiW?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0Zkqt3qQ1qHrwH3YfrG11i?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2pfgvbJXsmSGXdR98Aemvv?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2Xa6KhEyZzdLEGJiWrlXxr?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0GviRPeHpiY8ZAJwiZXdNh?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5xMES1Z4qiyjddiybumgOx?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2Cf3pgPWH0t5yLd3y9LZQx?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4sNBdRcK9VXAHsOu3BIvo8?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6WsQHyExNxXVKBQVkg0cQR?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/168JCAlfpaJEfL4OG30qQL?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5UpwhdY2YxxCn2NBCokM2m?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3294Z0E6MuDOKUNCe9xwA9?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/51xUsjeyzkhSqsQ20iy1em?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2iLrg6p21vkHWGVhHDWHIl?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1VeyWWmjGbkm8tv5nCrVEo?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5wrN0gooJ6Xyc9wSLVm0uu?utm_source=generator&theme=0" width="50%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<span class="iconify" data-icon="clarity:heart-solid" style="color: red;" data-width="30"></span>
</div>
</fieldset>
