<div class="logo">
  <img src="../../../../assets/logo.png" alt="logo" id="logo">
  </div>

<h1>Algaire</h1>

<fieldset>
<div class="videoclips">
<iframe id="video1" width="560" height="315" src="https://www.youtube.com/embed/h-8kw-bEaQg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe id="video3" width="560" height="315" src="https://www.youtube.com/embed/oVF1N0_WLS4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe id="video4" width="560" height="315" src="https://www.youtube.com/embed/7dYqwRdnpxA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe id="video2" width="560" height="315" src="https://www.youtube.com/embed/Reqi3iJixGM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</fieldset>
