#logo {
  display:ruby-base;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h1{
  text-align: center;
  color: #DAFF48;
  margin-bottom: 3%;

}

.videoclips{
  margin-left: 33%;
  margin-bottom: 10%;
}

#video1{
  border: 2px solid#DAFF48;
  border-radius: 2%;
  margin-bottom: 3%;
}

#video2{
  border: 2px solid#DAFF48;
  border-radius: 2%;
  margin-bottom: 3%;
}

#video3{
  border: 2px solid#DAFF48;
  border-radius: 2%;
  margin-bottom: 3%;
}

#video4{
  border: 2px solid#DAFF48;
  border-radius: 2%;
  margin-bottom: 3%;
}
